
[submodule "examples"]
	path = examples
	url = git@github.com:GeneratorJs/examples.git
[submodule "docs"]
	path = docs
	url = git@github.com:GeneratorJs/docs.git
[submodule "generatorjs.cdn"]
	path = generatorjs.cdn
	url = git@github.com:GeneratorJs/generatorjs.cdn.git
